@font-face {
    font-family: 'Comfortaa';
    src: local('Comfortaa Bold'), local('Comfortaa-Bold'),
        url('Comfortaa-Bold.woff2') format('woff2'),
        url('Comfortaa-Bold.woff') format('woff'),
        url('Comfortaa-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: local('Qanelas Bold'), local('Qanelas-Bold'),
        url('Qanelas-Bold.woff2') format('woff2'),
        url('Qanelas-Bold.woff') format('woff'),
        url('Qanelas-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: local('Qanelas Medium'), local('Qanelas-Medium'),
        url('Qanelas-Medium.woff2') format('woff2'),
        url('Qanelas-Medium.woff') format('woff'),
        url('Qanelas-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Qanelas';
    src: local('Qanelas Regular'), local('Qanelas-Regular'),
        url('Qanelas-Regular.woff2') format('woff2'),
        url('Qanelas-Regular.woff') format('woff'),
        url('Qanelas-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
